/* Define colors */

* {
    -black: #110C15;
    -dark_grey: #5D5860;
    -grey: #8E8A90;
    -light_grey: #F4F4F4;
    -light_grey_background: #FBFBFB;
    -primary_green: #50858B;
    -primary_green_variant: #62A8AC;
}

/* Load fonts */

@font-face {
    /*src: url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');*/

    src: local('fonts/Inter-Black.ttf');
    /*src: url('https://fonts.googleapis.com/css2?family=Grey+Qo&display=swap');*/
}

/* ---------- General ----------- */

.root {
    -fx-font-family: 'Comic Sans MS';
}

.bold {
    -fx-font-family: 'Inter';
}

.regular {
    -fx-font-family: 'Inter-Regular';
}

.black-text {
    -fx-fill: -dark_grey;
}

.shadow {
    -fx-effect: dropshadow(three-pass-box, rgba(111, 111, 111, 0.1), 0, 30, 0, 0);
}

/* -------- General end --------- */

/* ------ JavaFX specific ------- */

.text {
    -fx-text-fill: -black;
}

/* -------- Navbar start -------- */

.navbar {
    -fx-background-color: white;
}

.navbar-button {
    -fx-fill: white;
    -fx-border: none;
    -fx-font-family: Inter-Regular;
}

.navbar-search-text {
    -fx-text-fill: -grey;
}

/* --------- Navbar end --------- */

/* ------ Start page start ------ */

.search-box {
    -fx-fill: -light_grey_background;
    -fx-border-color: -dark_grey;
    -fx-border-radius: 12px;
}
